@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?il3fgp');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?il3fgp#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?il3fgp') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?il3fgp') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?il3fgp##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pi-"], [class*=" pi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pi-packman {
  &:before {
    content: $pi-packman;     
  }
}
.pi-yarin-kapinda {
  &:before {
    content: $pi-yarin-kapinda;     
  }
}
.pi-220-v {
  &:before {
    content: $pi-220-v;     
  }
}
.pi-ads {
  &:before {
    content: $pi-ads;     
  }
}
.pi-ai-chef {
  &:before {
    content: $pi-ai-chef;     
  }
}
.pi-android {
  &:before {
    content: $pi-android;     
  }
}
.pi-archive {
  &:before {
    content: $pi-archive;     
  }
}
.pi-arrow-down {
  &:before {
    content: $pi-arrow-down;     
  }
}
.pi-arrow-left {
  &:before {
    content: $pi-arrow-left;     
  }
}
.pi-arrow-maximize {
  &:before {
    content: $pi-arrow-maximize;     
  }
}
.pi-arrow-minimize {
  &:before {
    content: $pi-arrow-minimize;     
  }
}
.pi-arrow-recycle-buyback {
  &:before {
    content: $pi-arrow-recycle-buyback;     
  }
}
.pi-arrow-redo {
  &:before {
    content: $pi-arrow-redo;     
  }
}
.pi-arrow-repeat {
  &:before {
    content: $pi-arrow-repeat;     
  }
}
.pi-arrow-right {
  &:before {
    content: $pi-arrow-right;     
  }
}
.pi-arrow-sort {
  &:before {
    content: $pi-arrow-sort;     
  }
}
.pi-arrow-sort-atoz {
  &:before {
    content: $pi-arrow-sort-atoz;     
  }
}
.pi-arrow-sort-list-ascending {
  &:before {
    content: $pi-arrow-sort-list-ascending;     
  }
}
.pi-arrow-sort-list-descending {
  &:before {
    content: $pi-arrow-sort-list-descending;     
  }
}
.pi-arrow-sort-ztoa {
  &:before {
    content: $pi-arrow-sort-ztoa;     
  }
}
.pi-arrow-swap {
  &:before {
    content: $pi-arrow-swap;     
  }
}
.pi-arrow-undo {
  &:before {
    content: $pi-arrow-undo;     
  }
}
.pi-arrow-up {
  &:before {
    content: $pi-arrow-up;     
  }
}
.pi-attachment {
  &:before {
    content: $pi-attachment;     
  }
}
.pi-automated-approval {
  &:before {
    content: $pi-automated-approval;     
  }
}
.pi-bag {
  &:before {
    content: $pi-bag;     
  }
}
.pi-bank {
  &:before {
    content: $pi-bank;     
  }
}
.pi-bank-add {
  &:before {
    content: $pi-bank-add;     
  }
}
.pi-bank-okey {
  &:before {
    content: $pi-bank-okey;     
  }
}
.pi-barcode {
  &:before {
    content: $pi-barcode;     
  }
}
.pi-basket {
  &:before {
    content: $pi-basket;     
  }
}
.pi-battery-charge {
  &:before {
    content: $pi-battery-charge;     
  }
}
.pi-battery-empty {
  &:before {
    content: $pi-battery-empty;     
  }
}
.pi-battery-full {
  &:before {
    content: $pi-battery-full;     
  }
}
.pi-battery-half {
  &:before {
    content: $pi-battery-half;     
  }
}
.pi-battery-low {
  &:before {
    content: $pi-battery-low;     
  }
}
.pi-battery-very-low {
  &:before {
    content: $pi-battery-very-low;     
  }
}
.pi-bed {
  &:before {
    content: $pi-bed;     
  }
}
.pi-binoculars {
  &:before {
    content: $pi-binoculars;     
  }
}
.pi-book {
  &:before {
    content: $pi-book;     
  }
}
.pi-bookmark {
  &:before {
    content: $pi-bookmark;     
  }
}
.pi-bookmark-filled {
  &:before {
    content: $pi-bookmark-filled;     
  }
}
.pi-bookmark-list-add {
  &:before {
    content: $pi-bookmark-list-add;     
  }
}
.pi-brand {
  &:before {
    content: $pi-brand;     
  }
}
.pi-bug {
  &:before {
    content: $pi-bug;     
  }
}
.pi-building {
  &:before {
    content: $pi-building;     
  }
}
.pi-bus {
  &:before {
    content: $pi-bus;     
  }
}
.pi-bus-chair-jumbo {
  &:before {
    content: $pi-bus-chair-jumbo;     
  }
}
.pi-bus-chair-ontop {
  &:before {
    content: $pi-bus-chair-ontop;     
  }
}
.pi-bus-chair-standart {
  &:before {
    content: $pi-bus-chair-standart;     
  }
}
.pi-business-bag {
  &:before {
    content: $pi-business-bag;     
  }
}
.pi-calculator-accounting {
  &:before {
    content: $pi-calculator-accounting;     
  }
}
.pi-calendar {
  &:before {
    content: $pi-calendar;     
  }
}
.pi-calendar-clock {
  &:before {
    content: $pi-calendar-clock;     
  }
}
.pi-calendar-today {
  &:before {
    content: $pi-calendar-today;     
  }
}
.pi-calendar-today-clock {
  &:before {
    content: $pi-calendar-today-clock;     
  }
}
.pi-camera {
  &:before {
    content: $pi-camera;     
  }
}
.pi-cancel-x-error {
  &:before {
    content: $pi-cancel-x-error;     
  }
}
.pi-car {
  &:before {
    content: $pi-car;     
  }
}
.pi-card {
  &:before {
    content: $pi-card;     
  }
}
.pi-card-installment-3 {
  &:before {
    content: $pi-card-installment-3;     
  }
}
.pi-card-installment-6 {
  &:before {
    content: $pi-card-installment-6;     
  }
}
.pi-card-no-fees {
  &:before {
    content: $pi-card-no-fees;     
  }
}
.pi-card-postponed {
  &:before {
    content: $pi-card-postponed;     
  }
}
.pi-caret-down {
  &:before {
    content: $pi-caret-down;     
  }
}
.pi-caret-down-filled {
  &:before {
    content: $pi-caret-down-filled;     
  }
}
.pi-caret-left {
  &:before {
    content: $pi-caret-left;     
  }
}
.pi-caret-left-filled {
  &:before {
    content: $pi-caret-left-filled;     
  }
}
.pi-caret-right {
  &:before {
    content: $pi-caret-right;     
  }
}
.pi-caret-right-filled {
  &:before {
    content: $pi-caret-right-filled;     
  }
}
.pi-caret-up {
  &:before {
    content: $pi-caret-up;     
  }
}
.pi-caret-up-filled {
  &:before {
    content: $pi-caret-up-filled;     
  }
}
.pi-cart {
  &:before {
    content: $pi-cart;     
  }
}
.pi-catalogue {
  &:before {
    content: $pi-catalogue;     
  }
}
.pi-categories {
  &:before {
    content: $pi-categories;     
  }
}
.pi-catering {
  &:before {
    content: $pi-catering;     
  }
}
.pi-celebrate {
  &:before {
    content: $pi-celebrate;     
  }
}
.pi-chat-add-comment-question {
  &:before {
    content: $pi-chat-add-comment-question;     
  }
}
.pi-chat-ask-question {
  &:before {
    content: $pi-chat-ask-question;     
  }
}
.pi-chat-comments {
  &:before {
    content: $pi-chat-comments;     
  }
}
.pi-chat-feedback-ticket {
  &:before {
    content: $pi-chat-feedback-ticket;     
  }
}
.pi-chat-live {
  &:before {
    content: $pi-chat-live;     
  }
}
.pi-chat-review {
  &:before {
    content: $pi-chat-review;     
  }
}
.pi-chat-with-merchant {
  &:before {
    content: $pi-chat-with-merchant;     
  }
}
.pi-check-okey {
  &:before {
    content: $pi-check-okey;     
  }
}
.pi-checklist-applist {
  &:before {
    content: $pi-checklist-applist;     
  }
}
.pi-chevron-down {
  &:before {
    content: $pi-chevron-down;     
  }
}
.pi-chevron-expand {
  &:before {
    content: $pi-chevron-expand;     
  }
}
.pi-chevron-left {
  &:before {
    content: $pi-chevron-left;     
  }
}
.pi-chevron-right {
  &:before {
    content: $pi-chevron-right;     
  }
}
.pi-chevron-up {
  &:before {
    content: $pi-chevron-up;     
  }
}
.pi-clock {
  &:before {
    content: $pi-clock;     
  }
}
.pi-clock-alarm {
  &:before {
    content: $pi-clock-alarm;     
  }
}
.pi-clock-bnpl-pay-later {
  &:before {
    content: $pi-clock-bnpl-pay-later;     
  }
}
.pi-clock-future {
  &:before {
    content: $pi-clock-future;     
  }
}
.pi-clock-history {
  &:before {
    content: $pi-clock-history;     
  }
}
.pi-clock-past {
  &:before {
    content: $pi-clock-past;     
  }
}
.pi-clock-waiting {
  &:before {
    content: $pi-clock-waiting;     
  }
}
.pi-columns {
  &:before {
    content: $pi-columns;     
  }
}
.pi-compare {
  &:before {
    content: $pi-compare;     
  }
}
.pi-compass {
  &:before {
    content: $pi-compass;     
  }
}
.pi-construction-market-garden-auto {
  &:before {
    content: $pi-construction-market-garden-auto;     
  }
}
.pi-cooking {
  &:before {
    content: $pi-cooking;     
  }
}
.pi-cooking-prepare {
  &:before {
    content: $pi-cooking-prepare;     
  }
}
.pi-copy {
  &:before {
    content: $pi-copy;     
  }
}
.pi-coupon {
  &:before {
    content: $pi-coupon;     
  }
}
.pi-coupon-add {
  &:before {
    content: $pi-coupon-add;     
  }
}
.pi-coupon-discount {
  &:before {
    content: $pi-coupon-discount;     
  }
}
.pi-coupon-gift {
  &:before {
    content: $pi-coupon-gift;     
  }
}
.pi-coupon-remove {
  &:before {
    content: $pi-coupon-remove;     
  }
}
.pi-credit-card {
  &:before {
    content: $pi-credit-card;     
  }
}
.pi-credit-card-add {
  &:before {
    content: $pi-credit-card-add;     
  }
}
.pi-credit-card-cancel {
  &:before {
    content: $pi-credit-card-cancel;     
  }
}
.pi-credit-card-denied {
  &:before {
    content: $pi-credit-card-denied;     
  }
}
.pi-credit-card-multi {
  &:before {
    content: $pi-credit-card-multi;     
  }
}
.pi-credit-card-refresh {
  &:before {
    content: $pi-credit-card-refresh;     
  }
}
.pi-credit-card-waiting {
  &:before {
    content: $pi-credit-card-waiting;     
  }
}
.pi-credit-card-warning {
  &:before {
    content: $pi-credit-card-warning;     
  }
}
.pi-cursor {
  &:before {
    content: $pi-cursor;     
  }
}
.pi-cut {
  &:before {
    content: $pi-cut;     
  }
}
.pi-dashboard {
  &:before {
    content: $pi-dashboard;     
  }
}
.pi-delivery-truck {
  &:before {
    content: $pi-delivery-truck;     
  }
}
.pi-delivery-truck-canceled {
  &:before {
    content: $pi-delivery-truck-canceled;     
  }
}
.pi-delivery-truck-cold-chain {
  &:before {
    content: $pi-delivery-truck-cold-chain;     
  }
}
.pi-delivery-truck-fast {
  &:before {
    content: $pi-delivery-truck-fast;     
  }
}
.pi-delivery-truck-loaded {
  &:before {
    content: $pi-delivery-truck-loaded;     
  }
}
.pi-delivery-truck-location {
  &:before {
    content: $pi-delivery-truck-location;     
  }
}
.pi-delivery-truck-onroad {
  &:before {
    content: $pi-delivery-truck-onroad;     
  }
}
.pi-delivery-truck-satisfaction {
  &:before {
    content: $pi-delivery-truck-satisfaction;     
  }
}
.pi-demand-management {
  &:before {
    content: $pi-demand-management;     
  }
}
.pi-denied {
  &:before {
    content: $pi-denied;     
  }
}
.pi-design {
  &:before {
    content: $pi-design;     
  }
}
.pi-desktop {
  &:before {
    content: $pi-desktop;     
  }
}
.pi-desktop-mobile-phone {
  &:before {
    content: $pi-desktop-mobile-phone;     
  }
}
.pi-development {
  &:before {
    content: $pi-development;     
  }
}
.pi-direction {
  &:before {
    content: $pi-direction;     
  }
}
.pi-dislike {
  &:before {
    content: $pi-dislike;     
  }
}
.pi-download {
  &:before {
    content: $pi-download;     
  }
}
.pi-drag {
  &:before {
    content: $pi-drag;     
  }
}
.pi-edit {
  &:before {
    content: $pi-edit;     
  }
}
.pi-editors-picks {
  &:before {
    content: $pi-editors-picks;     
  }
}
.pi-emoji-laugh {
  &:before {
    content: $pi-emoji-laugh;     
  }
}
.pi-emoji-smile {
  &:before {
    content: $pi-emoji-smile;     
  }
}
.pi-enterance {
  &:before {
    content: $pi-enterance;     
  }
}
.pi-error {
  &:before {
    content: $pi-error;     
  }
}
.pi-euro {
  &:before {
    content: $pi-euro;     
  }
}
.pi-eye-hide {
  &:before {
    content: $pi-eye-hide;     
  }
}
.pi-eye-show {
  &:before {
    content: $pi-eye-show;     
  }
}
.pi-fashion {
  &:before {
    content: $pi-fashion;     
  }
}
.pi-file {
  &:before {
    content: $pi-file;     
  }
}
.pi-file-add {
  &:before {
    content: $pi-file-add;     
  }
}
.pi-file-info {
  &:before {
    content: $pi-file-info;     
  }
}
.pi-filter {
  &:before {
    content: $pi-filter;     
  }
}
.pi-finger-print {
  &:before {
    content: $pi-finger-print;     
  }
}
.pi-fire {
  &:before {
    content: $pi-fire;     
  }
}
.pi-flash-fast {
  &:before {
    content: $pi-flash-fast;     
  }
}
.pi-flower-arrangement {
  &:before {
    content: $pi-flower-arrangement;     
  }
}
.pi-folder {
  &:before {
    content: $pi-folder;     
  }
}
.pi-folder-add {
  &:before {
    content: $pi-folder-add;     
  }
}
.pi-free-cancelation {
  &:before {
    content: $pi-free-cancelation;     
  }
}
.pi-game-joystick {
  &:before {
    content: $pi-game-joystick;     
  }
}
.pi-gift {
  &:before {
    content: $pi-gift;     
  }
}
.pi-gift-give {
  &:before {
    content: $pi-gift-give;     
  }
}
.pi-graph-line-down {
  &:before {
    content: $pi-graph-line-down;     
  }
}
.pi-graph-line-performance-down {
  &:before {
    content: $pi-graph-line-performance-down;     
  }
}
.pi-graph-line-performance-up {
  &:before {
    content: $pi-graph-line-performance-up;     
  }
}
.pi-graph-line-three-quarter {
  &:before {
    content: $pi-graph-line-three-quarter;     
  }
}
.pi-graph-line-up {
  &:before {
    content: $pi-graph-line-up;     
  }
}
.pi-graph-line-with-items {
  &:before {
    content: $pi-graph-line-with-items;     
  }
}
.pi-graph-pie-big {
  &:before {
    content: $pi-graph-pie-big;     
  }
}
.pi-graph-pie-multi {
  &:before {
    content: $pi-graph-pie-multi;     
  }
}
.pi-graph-pie-quarter {
  &:before {
    content: $pi-graph-pie-quarter;     
  }
}
.pi-graph-three-bars {
  &:before {
    content: $pi-graph-three-bars;     
  }
}
.pi-graph-three-bars-line {
  &:before {
    content: $pi-graph-three-bars-line;     
  }
}
.pi-graph-two-bars-line {
  &:before {
    content: $pi-graph-two-bars-line;     
  }
}
.pi-health-beauty {
  &:before {
    content: $pi-health-beauty;     
  }
}
.pi-hepsi {
  &:before {
    content: $pi-hepsi;     
  }
}
.pi-hint {
  &:before {
    content: $pi-hint;     
  }
}
.pi-home {
  &:before {
    content: $pi-home;     
  }
}
.pi-home-life-stationery {
  &:before {
    content: $pi-home-life-stationery;     
  }
}
.pi-hourglass {
  &:before {
    content: $pi-hourglass;     
  }
}
.pi-image {
  &:before {
    content: $pi-image;     
  }
}
.pi-image-gallery {
  &:before {
    content: $pi-image-gallery;     
  }
}
.pi-image-not-loaded {
  &:before {
    content: $pi-image-not-loaded;     
  }
}
.pi-info {
  &:before {
    content: $pi-info;     
  }
}
.pi-integration {
  &:before {
    content: $pi-integration;     
  }
}
.pi-invoice-electronic {
  &:before {
    content: $pi-invoice-electronic;     
  }
}
.pi-invoice-euro {
  &:before {
    content: $pi-invoice-euro;     
  }
}
.pi-invoice-general {
  &:before {
    content: $pi-invoice-general;     
  }
}
.pi-invoice-general-check {
  &:before {
    content: $pi-invoice-general-check;     
  }
}
.pi-invoice-tl {
  &:before {
    content: $pi-invoice-tl;     
  }
}
.pi-invoice-usd {
  &:before {
    content: $pi-invoice-usd;     
  }
}
.pi-key {
  &:before {
    content: $pi-key;     
  }
}
.pi-layers {
  &:before {
    content: $pi-layers;     
  }
}
.pi-like {
  &:before {
    content: $pi-like;     
  }
}
.pi-link {
  &:before {
    content: $pi-link;     
  }
}
.pi-link-remove {
  &:before {
    content: $pi-link-remove;     
  }
}
.pi-live-performace {
  &:before {
    content: $pi-live-performace;     
  }
}
.pi-location {
  &:before {
    content: $pi-location;     
  }
}
.pi-location-check {
  &:before {
    content: $pi-location-check;     
  }
}
.pi-lock-close {
  &:before {
    content: $pi-lock-close;     
  }
}
.pi-lock-open {
  &:before {
    content: $pi-lock-open;     
  }
}
.pi-logout {
  &:before {
    content: $pi-logout;     
  }
}
.pi-love {
  &:before {
    content: $pi-love;     
  }
}
.pi-love-filled {
  &:before {
    content: $pi-love-filled;     
  }
}
.pi-mail-inbox {
  &:before {
    content: $pi-mail-inbox;     
  }
}
.pi-map {
  &:before {
    content: $pi-map;     
  }
}
.pi-meal {
  &:before {
    content: $pi-meal;     
  }
}
.pi-megaphone {
  &:before {
    content: $pi-megaphone;     
  }
}
.pi-megaphone-announcement {
  &:before {
    content: $pi-megaphone-announcement;     
  }
}
.pi-menu {
  &:before {
    content: $pi-menu;     
  }
}
.pi-merchant-store {
  &:before {
    content: $pi-merchant-store;     
  }
}
.pi-merchant-store-performance {
  &:before {
    content: $pi-merchant-store-performance;     
  }
}
.pi-merchant-store-verified {
  &:before {
    content: $pi-merchant-store-verified;     
  }
}
.pi-minus {
  &:before {
    content: $pi-minus;     
  }
}
.pi-minus-circle {
  &:before {
    content: $pi-minus-circle;     
  }
}
.pi-mobile-phone {
  &:before {
    content: $pi-mobile-phone;     
  }
}
.pi-money {
  &:before {
    content: $pi-money;     
  }
}
.pi-money-give {
  &:before {
    content: $pi-money-give;     
  }
}
.pi-money-give-coin {
  &:before {
    content: $pi-money-give-coin;     
  }
}
.pi-money-installment-3 {
  &:before {
    content: $pi-money-installment-3;     
  }
}
.pi-money-instalment-6 {
  &:before {
    content: $pi-money-instalment-6;     
  }
}
.pi-money-no-fees {
  &:before {
    content: $pi-money-no-fees;     
  }
}
.pi-money-okey {
  &:before {
    content: $pi-money-okey;     
  }
}
.pi-money-postponed {
  &:before {
    content: $pi-money-postponed;     
  }
}
.pi-money-redo {
  &:before {
    content: $pi-money-redo;     
  }
}
.pi-money-transfer {
  &:before {
    content: $pi-money-transfer;     
  }
}
.pi-moon {
  &:before {
    content: $pi-moon;     
  }
}
.pi-moon-stars {
  &:before {
    content: $pi-moon-stars;     
  }
}
.pi-more-horizontal {
  &:before {
    content: $pi-more-horizontal;     
  }
}
.pi-more-vertical {
  &:before {
    content: $pi-more-vertical;     
  }
}
.pi-mother-baby-toys {
  &:before {
    content: $pi-mother-baby-toys;     
  }
}
.pi-moto-courier {
  &:before {
    content: $pi-moto-courier;     
  }
}
.pi-move {
  &:before {
    content: $pi-move;     
  }
}
.pi-my-lists {
  &:before {
    content: $pi-my-lists;     
  }
}
.pi-my-location {
  &:before {
    content: $pi-my-location;     
  }
}
.pi-notification-bell {
  &:before {
    content: $pi-notification-bell;     
  }
}
.pi-notification-bell-active {
  &:before {
    content: $pi-notification-bell-active;     
  }
}
.pi-notification-bell-alert {
  &:before {
    content: $pi-notification-bell-alert;     
  }
}
.pi-notification-bell-clock {
  &:before {
    content: $pi-notification-bell-clock;     
  }
}
.pi-notification-bell-okey {
  &:before {
    content: $pi-notification-bell-okey;     
  }
}
.pi-pause {
  &:before {
    content: $pi-pause;     
  }
}
.pi-pause-circle {
  &:before {
    content: $pi-pause-circle;     
  }
}
.pi-percent-discount {
  &:before {
    content: $pi-percent-discount;     
  }
}
.pi-performance-price-down {
  &:before {
    content: $pi-performance-price-down;     
  }
}
.pi-performance-price-up {
  &:before {
    content: $pi-performance-price-up;     
  }
}
.pi-person {
  &:before {
    content: $pi-person;     
  }
}
.pi-person-cancel {
  &:before {
    content: $pi-person-cancel;     
  }
}
.pi-person-circle {
  &:before {
    content: $pi-person-circle;     
  }
}
.pi-person-collaboration {
  &:before {
    content: $pi-person-collaboration;     
  }
}
.pi-person-customers {
  &:before {
    content: $pi-person-customers;     
  }
}
.pi-person-customers-add {
  &:before {
    content: $pi-person-customers-add;     
  }
}
.pi-person-customers-management {
  &:before {
    content: $pi-person-customers-management;     
  }
}
.pi-person-denied {
  &:before {
    content: $pi-person-denied;     
  }
}
.pi-person-family {
  &:before {
    content: $pi-person-family;     
  }
}
.pi-person-female {
  &:before {
    content: $pi-person-female;     
  }
}
.pi-person-learning-platform {
  &:before {
    content: $pi-person-learning-platform;     
  }
}
.pi-person-left {
  &:before {
    content: $pi-person-left;     
  }
}
.pi-person-male {
  &:before {
    content: $pi-person-male;     
  }
}
.pi-person-multi {
  &:before {
    content: $pi-person-multi;     
  }
}
.pi-person-multi-management {
  &:before {
    content: $pi-person-multi-management;     
  }
}
.pi-person-new-id {
  &:before {
    content: $pi-person-new-id;     
  }
}
.pi-person-new-id-info {
  &:before {
    content: $pi-person-new-id-info;     
  }
}
.pi-person-nfc-read {
  &:before {
    content: $pi-person-nfc-read;     
  }
}
.pi-person-no-gender {
  &:before {
    content: $pi-person-no-gender;     
  }
}
.pi-person-old-id {
  &:before {
    content: $pi-person-old-id;     
  }
}
.pi-person-right {
  &:before {
    content: $pi-person-right;     
  }
}
.pi-person-setting {
  &:before {
    content: $pi-person-setting;     
  }
}
.pi-person-shared-influencer {
  &:before {
    content: $pi-person-shared-influencer;     
  }
}
.pi-person-verified {
  &:before {
    content: $pi-person-verified;     
  }
}
.pi-person-warning {
  &:before {
    content: $pi-person-warning;     
  }
}
.pi-pets {
  &:before {
    content: $pi-pets;     
  }
}
.pi-phone-call {
  &:before {
    content: $pi-phone-call;     
  }
}
.pi-phone-call-warning {
  &:before {
    content: $pi-phone-call-warning;     
  }
}
.pi-pin {
  &:before {
    content: $pi-pin;     
  }
}
.pi-pin-remove {
  &:before {
    content: $pi-pin-remove;     
  }
}
.pi-place-swap {
  &:before {
    content: $pi-place-swap;     
  }
}
.pi-plane-arrival {
  &:before {
    content: $pi-plane-arrival;     
  }
}
.pi-plane-departure {
  &:before {
    content: $pi-plane-departure;     
  }
}
.pi-plane-left {
  &:before {
    content: $pi-plane-left;     
  }
}
.pi-plane-route {
  &:before {
    content: $pi-plane-route;     
  }
}
.pi-plane-up {
  &:before {
    content: $pi-plane-up;     
  }
}
.pi-play {
  &:before {
    content: $pi-play;     
  }
}
.pi-play-circle {
  &:before {
    content: $pi-play-circle;     
  }
}
.pi-play-circle-warning {
  &:before {
    content: $pi-play-circle-warning;     
  }
}
.pi-plus {
  &:before {
    content: $pi-plus;     
  }
}
.pi-plus-circle {
  &:before {
    content: $pi-plus-circle;     
  }
}
.pi-pointer {
  &:before {
    content: $pi-pointer;     
  }
}
.pi-power-on-off {
  &:before {
    content: $pi-power-on-off;     
  }
}
.pi-print {
  &:before {
    content: $pi-print;     
  }
}
.pi-processor {
  &:before {
    content: $pi-processor;     
  }
}
.pi-product-box {
  &:before {
    content: $pi-product-box;     
  }
}
.pi-product-box-cancel {
  &:before {
    content: $pi-product-box-cancel;     
  }
}
.pi-product-box-clock {
  &:before {
    content: $pi-product-box-clock;     
  }
}
.pi-product-box-denied {
  &:before {
    content: $pi-product-box-denied;     
  }
}
.pi-product-box-edit {
  &:before {
    content: $pi-product-box-edit;     
  }
}
.pi-product-box-location {
  &:before {
    content: $pi-product-box-location;     
  }
}
.pi-product-box-okey {
  &:before {
    content: $pi-product-box-okey;     
  }
}
.pi-product-box-performance-up {
  &:before {
    content: $pi-product-box-performance-up;     
  }
}
.pi-product-box-pick-up-point {
  &:before {
    content: $pi-product-box-pick-up-point;     
  }
}
.pi-product-box-redo {
  &:before {
    content: $pi-product-box-redo;     
  }
}
.pi-product-fast-shipping {
  &:before {
    content: $pi-product-fast-shipping;     
  }
}
.pi-product-return {
  &:before {
    content: $pi-product-return;     
  }
}
.pi-product-search {
  &:before {
    content: $pi-product-search;     
  }
}
.pi-product-stock {
  &:before {
    content: $pi-product-stock;     
  }
}
.pi-qr-code {
  &:before {
    content: $pi-qr-code;     
  }
}
.pi-qr-code-cancel {
  &:before {
    content: $pi-qr-code-cancel;     
  }
}
.pi-question {
  &:before {
    content: $pi-question;     
  }
}
.pi-refresh {
  &:before {
    content: $pi-refresh;     
  }
}
.pi-refund {
  &:before {
    content: $pi-refund;     
  }
}
.pi-refund-1 {
  &:before {
    content: $pi-refund-1;     
  }
}
.pi-remove {
  &:before {
    content: $pi-remove;     
  }
}
.pi-replacement-approved {
  &:before {
    content: $pi-replacement-approved;     
  }
}
.pi-report-bars {
  &:before {
    content: $pi-report-bars;     
  }
}
.pi-report-lines {
  &:before {
    content: $pi-report-lines;     
  }
}
.pi-report-management {
  &:before {
    content: $pi-report-management;     
  }
}
.pi-report-setting {
  &:before {
    content: $pi-report-setting;     
  }
}
.pi-ribbon {
  &:before {
    content: $pi-ribbon;     
  }
}
.pi-rows {
  &:before {
    content: $pi-rows;     
  }
}
.pi-ruler {
  &:before {
    content: $pi-ruler;     
  }
}
.pi-save {
  &:before {
    content: $pi-save;     
  }
}
.pi-scale-calorie {
  &:before {
    content: $pi-scale-calorie;     
  }
}
.pi-search {
  &:before {
    content: $pi-search;     
  }
}
.pi-search-camera {
  &:before {
    content: $pi-search-camera;     
  }
}
.pi-send {
  &:before {
    content: $pi-send;     
  }
}
.pi-services {
  &:before {
    content: $pi-services;     
  }
}
.pi-settings {
  &:before {
    content: $pi-settings;     
  }
}
.pi-seyahat {
  &:before {
    content: $pi-seyahat;     
  }
}
.pi-share-android {
  &:before {
    content: $pi-share-android;     
  }
}
.pi-share-ios {
  &:before {
    content: $pi-share-ios;     
  }
}
.pi-share-web {
  &:before {
    content: $pi-share-web;     
  }
}
.pi-shield-cancel-error {
  &:before {
    content: $pi-shield-cancel-error;     
  }
}
.pi-shield-denied {
  &:before {
    content: $pi-shield-denied;     
  }
}
.pi-shield-lock {
  &:before {
    content: $pi-shield-lock;     
  }
}
.pi-shield-okey {
  &:before {
    content: $pi-shield-okey;     
  }
}
.pi-shield-security {
  &:before {
    content: $pi-shield-security;     
  }
}
.pi-shield-warning {
  &:before {
    content: $pi-shield-warning;     
  }
}
.pi-shipment-tag {
  &:before {
    content: $pi-shipment-tag;     
  }
}
.pi-sport-outdoor {
  &:before {
    content: $pi-sport-outdoor;     
  }
}
.pi-stair-down {
  &:before {
    content: $pi-stair-down;     
  }
}
.pi-stair-up {
  &:before {
    content: $pi-stair-up;     
  }
}
.pi-star {
  &:before {
    content: $pi-star;     
  }
}
.pi-star-filled {
  &:before {
    content: $pi-star-filled;     
  }
}
.pi-steering-wheel {
  &:before {
    content: $pi-steering-wheel;     
  }
}
.pi-success {
  &:before {
    content: $pi-success;     
  }
}
.pi-sun {
  &:before {
    content: $pi-sun;     
  }
}
.pi-tag {
  &:before {
    content: $pi-tag;     
  }
}
.pi-target {
  &:before {
    content: $pi-target;     
  }
}
.pi-text-align-center {
  &:before {
    content: $pi-text-align-center;     
  }
}
.pi-text-align-left {
  &:before {
    content: $pi-text-align-left;     
  }
}
.pi-text-align-right {
  &:before {
    content: $pi-text-align-right;     
  }
}
.pi-ticket {
  &:before {
    content: $pi-ticket;     
  }
}
.pi-ticket-event {
  &:before {
    content: $pi-ticket-event;     
  }
}
.pi-ticket-plane {
  &:before {
    content: $pi-ticket-plane;     
  }
}
.pi-ticket-star {
  &:before {
    content: $pi-ticket-star;     
  }
}
.pi-timer-fast {
  &:before {
    content: $pi-timer-fast;     
  }
}
.pi-tl {
  &:before {
    content: $pi-tl;     
  }
}
.pi-touch {
  &:before {
    content: $pi-touch;     
  }
}
.pi-touchable {
  &:before {
    content: $pi-touchable;     
  }
}
.pi-tv {
  &:before {
    content: $pi-tv;     
  }
}
.pi-upload {
  &:before {
    content: $pi-upload;     
  }
}
.pi-usb-port {
  &:before {
    content: $pi-usb-port;     
  }
}
.pi-usd {
  &:before {
    content: $pi-usd;     
  }
}
.pi-wallet {
  &:before {
    content: $pi-wallet;     
  }
}
.pi-wallet-add {
  &:before {
    content: $pi-wallet-add;     
  }
}
.pi-wallet-down {
  &:before {
    content: $pi-wallet-down;     
  }
}
.pi-wallet-left {
  &:before {
    content: $pi-wallet-left;     
  }
}
.pi-wallet-right {
  &:before {
    content: $pi-wallet-right;     
  }
}
.pi-wallet-up {
  &:before {
    content: $pi-wallet-up;     
  }
}
.pi-wallet-waiting {
  &:before {
    content: $pi-wallet-waiting;     
  }
}
.pi-wallet-warning {
  &:before {
    content: $pi-wallet-warning;     
  }
}
.pi-warning {
  &:before {
    content: $pi-warning;     
  }
}
.pi-water-bottle {
  &:before {
    content: $pi-water-bottle;     
  }
}
.pi-water-drop {
  &:before {
    content: $pi-water-drop;     
  }
}
.pi-water-drop-filled {
  &:before {
    content: $pi-water-drop-filled;     
  }
}
.pi-wi-fi {
  &:before {
    content: $pi-wi-fi;     
  }
}
.pi-wide-screen {
  &:before {
    content: $pi-wide-screen;     
  }
}
.pi-winner-buybox {
  &:before {
    content: $pi-winner-buybox;     
  }
}
.pi-winner-buybox-first {
  &:before {
    content: $pi-winner-buybox-first;     
  }
}
.pi-winner-buybox-second {
  &:before {
    content: $pi-winner-buybox-second;     
  }
}
.pi-winner-buybox-third {
  &:before {
    content: $pi-winner-buybox-third;     
  }
}
.pi-world {
  &:before {
    content: $pi-world;     
  }
}
.pi-world-aboard {
  &:before {
    content: $pi-world-aboard;     
  }
}
.pi-world-location {
  &:before {
    content: $pi-world-location;     
  }
}
.pi-world-plane {
  &:before {
    content: $pi-world-plane;     
  }
}
.pi-zoom-in {
  &:before {
    content: $pi-zoom-in;     
  }
}
.pi-zoom-out {
  &:before {
    content: $pi-zoom-out;     
  }
}

