$icomoon-font-family: "primus-icon" !default;
$icomoon-font-path: "fonts" !default;

$pi-packman: "\e900";
$pi-yarin-kapinda: "\e901";
$pi-220-v: "\ea68";
$pi-ads: "\e902";
$pi-ai-chef: "\e903";
$pi-android: "\e904";
$pi-archive: "\e905";
$pi-arrow-down: "\e906";
$pi-arrow-left: "\e907";
$pi-arrow-maximize: "\e908";
$pi-arrow-minimize: "\e909";
$pi-arrow-recycle-buyback: "\e90a";
$pi-arrow-redo: "\e90b";
$pi-arrow-repeat: "\e90c";
$pi-arrow-right: "\e90d";
$pi-arrow-sort: "\e90e";
$pi-arrow-sort-atoz: "\e90f";
$pi-arrow-sort-list-ascending: "\e910";
$pi-arrow-sort-list-descending: "\e911";
$pi-arrow-sort-ztoa: "\e912";
$pi-arrow-swap: "\e913";
$pi-arrow-undo: "\e914";
$pi-arrow-up: "\e915";
$pi-attachment: "\e916";
$pi-automated-approval: "\e917";
$pi-bag: "\e918";
$pi-bank: "\e919";
$pi-bank-add: "\e91a";
$pi-bank-okey: "\e91b";
$pi-barcode: "\e91c";
$pi-basket: "\e91d";
$pi-battery-charge: "\e91e";
$pi-battery-empty: "\e91f";
$pi-battery-full: "\e920";
$pi-battery-half: "\e921";
$pi-battery-low: "\e922";
$pi-battery-very-low: "\e923";
$pi-bed: "\e924";
$pi-binoculars: "\e925";
$pi-book: "\e926";
$pi-bookmark: "\e927";
$pi-bookmark-filled: "\e928";
$pi-bookmark-list-add: "\e929";
$pi-brand: "\e92a";
$pi-bug: "\e92b";
$pi-building: "\e92c";
$pi-bus: "\e92d";
$pi-bus-chair-jumbo: "\e92e";
$pi-bus-chair-ontop: "\e92f";
$pi-bus-chair-standart: "\e930";
$pi-business-bag: "\e931";
$pi-calculator-accounting: "\e932";
$pi-calendar: "\e933";
$pi-calendar-clock: "\e934";
$pi-calendar-today: "\e935";
$pi-calendar-today-clock: "\e936";
$pi-camera: "\e937";
$pi-cancel-x-error: "\e938";
$pi-car: "\e939";
$pi-card: "\e93a";
$pi-card-installment-3: "\e93b";
$pi-card-installment-6: "\e93c";
$pi-card-no-fees: "\e93d";
$pi-card-postponed: "\e93e";
$pi-caret-down: "\e93f";
$pi-caret-down-filled: "\e940";
$pi-caret-left: "\e941";
$pi-caret-left-filled: "\e942";
$pi-caret-right: "\e943";
$pi-caret-right-filled: "\e944";
$pi-caret-up: "\e945";
$pi-caret-up-filled: "\e946";
$pi-cart: "\e947";
$pi-catalogue: "\e948";
$pi-categories: "\e949";
$pi-catering: "\e94a";
$pi-celebrate: "\e94b";
$pi-chat-add-comment-question: "\e94c";
$pi-chat-ask-question: "\e94d";
$pi-chat-comments: "\e94e";
$pi-chat-feedback-ticket: "\e94f";
$pi-chat-live: "\e950";
$pi-chat-review: "\e951";
$pi-chat-with-merchant: "\e952";
$pi-check-okey: "\e953";
$pi-checklist-applist: "\e954";
$pi-chevron-down: "\e955";
$pi-chevron-expand: "\e956";
$pi-chevron-left: "\e957";
$pi-chevron-right: "\e958";
$pi-chevron-up: "\e959";
$pi-clock: "\e95a";
$pi-clock-alarm: "\e95b";
$pi-clock-bnpl-pay-later: "\e95c";
$pi-clock-future: "\e95d";
$pi-clock-history: "\e95e";
$pi-clock-past: "\e95f";
$pi-clock-waiting: "\e960";
$pi-columns: "\e961";
$pi-compare: "\e962";
$pi-compass: "\e963";
$pi-construction-market-garden-auto: "\e964";
$pi-cooking: "\e965";
$pi-cooking-prepare: "\e966";
$pi-copy: "\e967";
$pi-coupon: "\e968";
$pi-coupon-add: "\e969";
$pi-coupon-discount: "\e96a";
$pi-coupon-gift: "\e96b";
$pi-coupon-remove: "\e96c";
$pi-credit-card: "\e96d";
$pi-credit-card-add: "\e96e";
$pi-credit-card-cancel: "\e96f";
$pi-credit-card-denied: "\e970";
$pi-credit-card-multi: "\e971";
$pi-credit-card-refresh: "\e972";
$pi-credit-card-waiting: "\e973";
$pi-credit-card-warning: "\e974";
$pi-cursor: "\e975";
$pi-cut: "\e976";
$pi-dashboard: "\e977";
$pi-delivery-truck: "\e978";
$pi-delivery-truck-canceled: "\e979";
$pi-delivery-truck-cold-chain: "\e97a";
$pi-delivery-truck-fast: "\e97b";
$pi-delivery-truck-loaded: "\e97c";
$pi-delivery-truck-location: "\e97d";
$pi-delivery-truck-onroad: "\e97e";
$pi-delivery-truck-satisfaction: "\e97f";
$pi-demand-management: "\e980";
$pi-denied: "\e981";
$pi-design: "\e982";
$pi-desktop: "\e983";
$pi-desktop-mobile-phone: "\e984";
$pi-development: "\e985";
$pi-direction: "\e986";
$pi-dislike: "\e987";
$pi-download: "\e988";
$pi-drag: "\e989";
$pi-edit: "\e98a";
$pi-editors-picks: "\e98b";
$pi-emoji-laugh: "\e98c";
$pi-emoji-smile: "\e98d";
$pi-enterance: "\e98e";
$pi-error: "\e98f";
$pi-euro: "\e990";
$pi-eye-hide: "\e991";
$pi-eye-show: "\e992";
$pi-fashion: "\e993";
$pi-file: "\e994";
$pi-file-add: "\e995";
$pi-file-info: "\e996";
$pi-filter: "\e997";
$pi-finger-print: "\e998";
$pi-fire: "\e999";
$pi-flash-fast: "\e99a";
$pi-flower-arrangement: "\e99b";
$pi-folder: "\e99c";
$pi-folder-add: "\e99d";
$pi-free-cancelation: "\e99e";
$pi-game-joystick: "\e99f";
$pi-gift: "\e9a0";
$pi-gift-give: "\e9a1";
$pi-graph-line-down: "\e9a2";
$pi-graph-line-performance-down: "\e9a3";
$pi-graph-line-performance-up: "\e9a4";
$pi-graph-line-three-quarter: "\e9a5";
$pi-graph-line-up: "\e9a6";
$pi-graph-line-with-items: "\e9a7";
$pi-graph-pie-big: "\e9a8";
$pi-graph-pie-multi: "\e9a9";
$pi-graph-pie-quarter: "\e9aa";
$pi-graph-three-bars: "\e9ab";
$pi-graph-three-bars-line: "\e9ac";
$pi-graph-two-bars-line: "\e9ad";
$pi-health-beauty: "\e9ae";
$pi-hepsi: "\e9af";
$pi-hint: "\e9b0";
$pi-home: "\e9b1";
$pi-home-life-stationery: "\e9b2";
$pi-hourglass: "\e9b3";
$pi-image: "\e9b4";
$pi-image-gallery: "\e9b5";
$pi-image-not-loaded: "\e9b6";
$pi-info: "\e9b7";
$pi-integration: "\e9b8";
$pi-invoice-electronic: "\e9b9";
$pi-invoice-euro: "\e9ba";
$pi-invoice-general: "\e9bb";
$pi-invoice-general-check: "\e9bc";
$pi-invoice-tl: "\e9bd";
$pi-invoice-usd: "\e9be";
$pi-key: "\e9bf";
$pi-layers: "\e9c0";
$pi-like: "\e9c1";
$pi-link: "\e9c2";
$pi-link-remove: "\e9c3";
$pi-live-performace: "\e9c4";
$pi-location: "\e9c5";
$pi-location-check: "\e9c6";
$pi-lock-close: "\e9c7";
$pi-lock-open: "\e9c8";
$pi-logout: "\e9c9";
$pi-love: "\e9ca";
$pi-love-filled: "\e9cb";
$pi-mail-inbox: "\e9cc";
$pi-map: "\e9cd";
$pi-meal: "\e9ce";
$pi-megaphone: "\e9cf";
$pi-megaphone-announcement: "\e9d0";
$pi-menu: "\e9d1";
$pi-merchant-store: "\e9d2";
$pi-merchant-store-performance: "\e9d3";
$pi-merchant-store-verified: "\e9d4";
$pi-minus: "\e9d5";
$pi-minus-circle: "\e9d6";
$pi-mobile-phone: "\e9d7";
$pi-money: "\e9d8";
$pi-money-give: "\e9d9";
$pi-money-give-coin: "\e9da";
$pi-money-installment-3: "\e9db";
$pi-money-instalment-6: "\e9dc";
$pi-money-no-fees: "\e9dd";
$pi-money-okey: "\e9de";
$pi-money-postponed: "\e9df";
$pi-money-redo: "\e9e0";
$pi-money-transfer: "\e9e1";
$pi-moon: "\e9e2";
$pi-moon-stars: "\e9e3";
$pi-more-horizontal: "\e9e4";
$pi-more-vertical: "\e9e5";
$pi-mother-baby-toys: "\e9e6";
$pi-moto-courier: "\e9e7";
$pi-move: "\e9e8";
$pi-my-lists: "\e9e9";
$pi-my-location: "\e9ea";
$pi-notification-bell: "\e9eb";
$pi-notification-bell-active: "\e9ec";
$pi-notification-bell-alert: "\e9ed";
$pi-notification-bell-clock: "\e9ee";
$pi-notification-bell-okey: "\e9ef";
$pi-pause: "\e9f0";
$pi-pause-circle: "\e9f1";
$pi-percent-discount: "\e9f2";
$pi-performance-price-down: "\e9f3";
$pi-performance-price-up: "\e9f4";
$pi-person: "\e9f5";
$pi-person-cancel: "\e9f6";
$pi-person-circle: "\e9f7";
$pi-person-collaboration: "\e9f8";
$pi-person-customers: "\e9f9";
$pi-person-customers-add: "\e9fa";
$pi-person-customers-management: "\e9fb";
$pi-person-denied: "\e9fc";
$pi-person-family: "\e9fd";
$pi-person-female: "\e9fe";
$pi-person-learning-platform: "\e9ff";
$pi-person-left: "\ea00";
$pi-person-male: "\ea01";
$pi-person-multi: "\ea02";
$pi-person-multi-management: "\ea03";
$pi-person-new-id: "\ea04";
$pi-person-new-id-info: "\ea05";
$pi-person-nfc-read: "\ea06";
$pi-person-no-gender: "\ea07";
$pi-person-old-id: "\ea08";
$pi-person-right: "\ea09";
$pi-person-setting: "\ea0a";
$pi-person-shared-influencer: "\ea0b";
$pi-person-verified: "\ea0c";
$pi-person-warning: "\ea0d";
$pi-pets: "\ea0e";
$pi-phone-call: "\ea0f";
$pi-phone-call-warning: "\ea10";
$pi-pin: "\ea11";
$pi-pin-remove: "\ea12";
$pi-place-swap: "\ea13";
$pi-plane-arrival: "\ea14";
$pi-plane-departure: "\ea15";
$pi-plane-left: "\ea16";
$pi-plane-route: "\ea17";
$pi-plane-up: "\ea18";
$pi-play: "\ea19";
$pi-play-circle: "\ea1a";
$pi-play-circle-warning: "\ea1b";
$pi-plus: "\ea1c";
$pi-plus-circle: "\ea1d";
$pi-pointer: "\ea1e";
$pi-power-on-off: "\ea1f";
$pi-print: "\ea20";
$pi-processor: "\ea21";
$pi-product-box: "\ea22";
$pi-product-box-cancel: "\ea23";
$pi-product-box-clock: "\ea24";
$pi-product-box-denied: "\ea25";
$pi-product-box-edit: "\ea26";
$pi-product-box-location: "\ea27";
$pi-product-box-okey: "\ea28";
$pi-product-box-performance-up: "\ea29";
$pi-product-box-pick-up-point: "\ea2a";
$pi-product-box-redo: "\ea2b";
$pi-product-fast-shipping: "\ea2c";
$pi-product-return: "\ea2d";
$pi-product-search: "\ea2e";
$pi-product-stock: "\ea2f";
$pi-qr-code: "\ea30";
$pi-qr-code-cancel: "\ea31";
$pi-question: "\ea32";
$pi-refresh: "\ea33";
$pi-refund: "\ea34";
$pi-refund-1: "\ea35";
$pi-remove: "\ea36";
$pi-replacement-approved: "\ea37";
$pi-report-bars: "\ea38";
$pi-report-lines: "\ea39";
$pi-report-management: "\ea3a";
$pi-report-setting: "\ea3b";
$pi-ribbon: "\ea3c";
$pi-rows: "\ea3d";
$pi-ruler: "\ea3e";
$pi-save: "\ea3f";
$pi-scale-calorie: "\ea40";
$pi-search: "\ea41";
$pi-search-camera: "\ea42";
$pi-send: "\ea43";
$pi-services: "\ea44";
$pi-settings: "\ea45";
$pi-seyahat: "\ea46";
$pi-share-android: "\ea47";
$pi-share-ios: "\ea48";
$pi-share-web: "\ea49";
$pi-shield-cancel-error: "\ea4a";
$pi-shield-denied: "\ea4b";
$pi-shield-lock: "\ea4c";
$pi-shield-okey: "\ea4d";
$pi-shield-security: "\ea4e";
$pi-shield-warning: "\ea4f";
$pi-shipment-tag: "\ea50";
$pi-sport-outdoor: "\ea51";
$pi-stair-down: "\ea52";
$pi-stair-up: "\ea53";
$pi-star: "\ea54";
$pi-star-filled: "\ea55";
$pi-steering-wheel: "\ea56";
$pi-success: "\ea57";
$pi-sun: "\ea58";
$pi-tag: "\ea59";
$pi-target: "\ea5a";
$pi-text-align-center: "\ea5b";
$pi-text-align-left: "\ea5c";
$pi-text-align-right: "\ea5d";
$pi-ticket: "\ea5e";
$pi-ticket-event: "\ea5f";
$pi-ticket-plane: "\ea60";
$pi-ticket-star: "\ea61";
$pi-timer-fast: "\ea62";
$pi-tl: "\ea63";
$pi-touch: "\ea64";
$pi-touchable: "\ea65";
$pi-tv: "\ea66";
$pi-upload: "\ea67";
$pi-usb-port: "\ea69";
$pi-usd: "\ea6a";
$pi-wallet: "\ea6b";
$pi-wallet-add: "\ea6c";
$pi-wallet-down: "\ea6d";
$pi-wallet-left: "\ea6e";
$pi-wallet-right: "\ea6f";
$pi-wallet-up: "\ea70";
$pi-wallet-waiting: "\ea71";
$pi-wallet-warning: "\ea72";
$pi-warning: "\ea73";
$pi-water-bottle: "\ea74";
$pi-water-drop: "\ea75";
$pi-water-drop-filled: "\ea76";
$pi-wi-fi: "\ea77";
$pi-wide-screen: "\ea78";
$pi-winner-buybox: "\ea79";
$pi-winner-buybox-first: "\ea7a";
$pi-winner-buybox-second: "\ea7b";
$pi-winner-buybox-third: "\ea7c";
$pi-world: "\ea7d";
$pi-world-aboard: "\ea7e";
$pi-world-location: "\ea7f";
$pi-world-plane: "\ea80";
$pi-zoom-in: "\ea81";
$pi-zoom-out: "\ea82";

