:root{
    /* Docs MDX */
    --transparent: transparent;


    --primary-default: #FF6000;
    --secondary-default: #FFEDE0;


    --success-bg-default: #E6F3EE;
    --success-fg-default: #008450;
    --warning-fg-default: #FFC400;
    --information-fg-default: #0583D2;

    --error-fg-default: #F00;
    --error-bg-hover: #FFF5F5;


    --text-color-body: #333;
    --text-color-inverse: #FFF;
    --text-color-headline: #1E1E1E;
    --text-color-secondary: #454545;
    --text-color-placeholder: #EDEDED;
    --text-color-passive: #757575;


    --elevation-3: #FFF;
    --elevation-2: #FFF;
    --elevation-1: #FAFAFA;
    --elevation-0-background: #F5F5F5;


    --button-bg-color-secondary: #FFEDE0;
    --button-bg-color-primary: #FF6000;
    
    --button-bg-color-primary: #FF6000;

    --tint-primary-primary: #FF6000;

    
    --border-default: #EDEDED;

    
}  