$prefix: 'primus-' !default;  //Tum class ve variabellara on ek olarak eklenir.
$themes: 'light', 'dark';

$brands: "hepsiburada", "hepsipay", "market", "su", "cicek";
@if($selectedBrand!=""){$brands: $selectedBrand;}

$colors: (
  "brands": (
    "hepsiburada": (
      0: #fff6f0,
      5: #ffede0,
      10: #ffdecc,
      20: #ffba8f,
      30: #ff914d,
      40: #ff731f,
      50: #ff6000,
      60: #c74b00,
      70: #9c3b00,
      80: #702a00,
      90: #521f00,
      95: #2f1200,
    ),
    "hepsipay": (
      0: #faf7fd,
      5: #f7f2fd,
      10: #efe5fa,
      20: #d9c2f5,
      30: #c195f3,
      40: #994cf0,
      50: #7723db,
      60: #6c20c7,
      70: #56199f,
      80: #411377,
      90: #320f5b,
      95: #20093b,
    ),
    "market": (
      0: #f8fbf5,
      5: #edfbda,
      10: #c6ed96,
      20: #a0e052,
      30: #83d025,
      40: #76bc21,
      50: #5aa300,
      60: #498500,
      70: #3a6308,
      80: #304b0b,
      90: #172a00,
      95: #0e1a00,
    ),
    "su": (
      0: #f7f8fd,
      5: #eaf0fa,
      10: #dee6f7,
      20: #b0c3ec,
      30: #8eaae4,
      40: #6c91db,
      50: #3d6dd0,
      60: #3762ba,
      70: #2c4f96,
      80: #213c72,
      90: #1a2e59,
      95: #121f3c,
    ),
    "cicek": (
      0: #f9f7fd,
      5: #f3eefc,
      10: #eee5fb,
      20: #d5c2f5,
      30: #c1a3f0,
      40: #b28dec,
      50: #a87fea,
      60: #8162b4,
      70: #644c8b,
      80: #473663,
      90: #332747,
      95: #22192f,
    ),
  ),
  "neutral": (
    "white": #ffffff,
    0: #fafafa,
    5: #f5f5f5,
    7: #ededed,
    10: #e5e5e5,
    15: #dbdbdb,
    20: #d1d1d1,
    25: #c2c2c2,
    30: #b3b3b3,
    35: #9e9e9e,
    40: #8a8a8a,
    45: #808080,
    50: #757575,
    55: #666666,
    60: #575757,
    65: #4f4f4f,
    70: #454545,
    75: #3d3d3d,
    80: #333333,
    85: #292929,
    90: #1e1e1e,
    95: #0f0f0f,
    "black": #000000,
    "overlay": rgba(0, 0, 0, 0.5),
  ),
  "system-feedback": (
    "error": (
      0: #fff5f5,
      5: #ffe6e6,
      10: #ffcccc,
      20: #ff9999,
      30: #ff6666,
      40: #ff3333,
      50: #ff0000,
      60: #cc0000,
      70: #990000,
      80: #660000,
      90: #420000,
      95: #240000,
    ),
    "warning": (
      0: #fffbf0,
      5: #fff9e6,
      10: #fff3cc,
      20: #ffe799,
      30: #ffdc66,
      40: #ffd033,
      50: #ffc400,
      60: #f0b800,
      70: #e0ac00,
      80: #cc9d00,
      90: #523f00,
      95: #291f00,
    ),
    "success": (
      0: #f5faf8,
      5: #e6f3ee,
      10: #cce6dc,
      20: #99ceb9,
      30: #66b596,
      40: #339d73,
      50: #008450,
      60: #006a40,
      70: #004f30,
      80: #003520,
      90: #002215,
      95: #00120b,
    ),
    "information": (
      0: #f0f8fc,
      5: #e6f3fb,
      10: #cde6f6,
      20: #9bcded,
      30: #69b5e4,
      40: #379cdb,
      50: #0583d2,
      60: #0469a8,
      70: #034f7e,
      80: #023454,
      90: #012237,
      95: #011522,
    ),
  ),



  "red": (
    "pelati": (
      0: #fff5f5,
      5: #ffebeb,
      10: #ffd6d6,
      20: #ffb3b3,
      30: #ff8585,
      40: #ff5252,
      50: #ff3333,
      60: #f00000,
      70: #b30000,
      80: #8a0000,
      90: #420d0d,
      95: #240707,
    ),
    "cool-red": (
      0: #fef6f7,
      5: #fff2f5,
      10: #f8dfe2,
      20: #f8b9c5,
      30: #fd8ba0,
      40: #f45d79,
      50: #e41d3d,
      60: #b21d38,
      70: #822133,
      80: #4f1c24,
      90: #3b0810,
      95: #200409,
    ),
    "watermelon-juice": (
      0: #fef9fa,
      5: #fdeff3,
      10: #fbdfe7,
      20: #f8bfd0,
      30: #f49eb8,
      40: #f17ea1,
      50: #ed5e89,
      60: #be4b6e,
      70: #8e3852,
      80: #5f2637,
      90: #3e1824,
      95: #210d13,
    ),
    "red": (
      0: #fef6f5,
      5: #fff3f2,
      10: #fde0db,
      20: #fdb8ae,
      30: #ff8d7b,
      40: #fb5a47,
      50: #f01f01,
      60: #b50909,
      70: #8b0a03,
      80: #5c1111,
      90: #3e0800,
      95: #220400,
    ),
  ),
  "orange": (
    "orange-warm": (
      0: #fef8f5,
      5: #fff3ea,
      10: #ffe2d1,
      20: #fbbaa7,
      30: #fc906d,
      40: #ff580a,
      50: #f05400,
      60: #cf4900,
      70: #a72f10,
      80: #782312,
      90: #3e1600,
      95: #220c00,
    ),

    "warm-red": (
      0: #fef8f5,
      5: #fff5ee,
      10: #fce1d4,
      20: #f6bd9c,
      30: #f39268,
      40: #ef5e25,
      50: #f24e0d,
      60: #d54309,
      70: #b03e11,
      80: #7d2907,
      90: #3f1403,
      95: #220b02,
    ),
    "orange": (
      0: #fef9f5,
      5: #fef2e4,
      10: #fce2c5,
      20: #ffbc78,
      30: #fa9441,
      40: #f77408,
      50: #eb6a00,
      60: #c05600,
      70: #8c471c,
      80: #5f3617,
      90: #3d1c00,
      95: #210f00,
    ),
  ),
  "yellow": (
    "gold": (
      0: #fdfaf6,
      5: #fef0c8,
      10: #ffe396,
      20: #ffbe2e,
      30: #f5ab00,
      40: #df980c,
      50: #cc8314,
      60: #a2660b,
      70: #775008,
      80: #593c03,
      90: #352205,
      95: #1d1203,
    ),
    "yellow": (
      0: #fcfaf5,
      5: #fff5c2,
      10: #fee685,
      20: #ffdd47,
      30: #ffc60a,
      40: #f4bb01,
      50: #bc8d01,
      60: #947100,
      70: #6c560e,
      80: #5c4809,
      90: #382a00,
      95: #221900,
    ),
  ),
  "purple": (
    "magenta": (
      0: #fff8fb,
      5: #ffe5f0,
      10: #ffdbec,
      20: #ffb3d4,
      30: #ff8abe,
      40: #fd68ab,
      50: #fa4798,
      60: #d72d79,
      70: #a6215d,
      80: #731f44,
      90: #411228,
      95: #230a15,
    ),
    "warm-violet": (
      0: #fef8fe,
      5: #fce5ff,
      10: #f9ccff,
      20: #f7b3ff,
      30: #f48fff,
      40: #ea6ef7,
      50: #df4be7,
      60: #bc25c1,
      70: #97268f,
      80: #711e6b,
      90: #3a143c,
      95: #1f0a20,
    ),
    "violet": (
      0: #fcf9ff,
      5: #f4ebff,
      10: #f2e5ff,
      20: #e4ccff,
      30: #cba1f7,
      40: #c18efa,
      50: #ae6ef7,
      60: #9355dc,
      70: #783cb9,
      80: #5a2790,
      90: #311f45,
      95: #1f142c,
    ),
    "warm-indigo": (
      0: #fbfafe,
      5: #efebff,
      10: #e9e0ff,
      20: #d4cefd,
      30: #beb3ff,
      40: #a392fc,
      50: #9483f1,
      60: #745fe9,
      70: #563dd1,
      80: #3d2c9d,
      90: #292543,
      95: #1b182b,
    ),
    "indigo": (
      0: #fdfaf6,
      5: #fef0c8,
      10: #ffe396,
      20: #ffbe2e,
      30: #f5ab00,
      40: #df980c,
      50: #cc8314,
      60: #a2660b,
      70: #775008,
      80: #593c03,
      90: #352205,
      95: #1d1203,
    ),
    "cool-indigo": (
      0: #fdfaf6,
      5: #fef0c8,
      10: #ffe396,
      20: #ffbe2e,
      30: #f5ab00,
      40: #df980c,
      50: #cc8314,
      60: #a2660b,
      70: #775008,
      80: #593c03,
      90: #352205,
      95: #1d1203,
    ),
  ),
  "green": (
    "seaweed-green": (
      0: #f7fbf9,
      5: #ebf6f1,
      10: #d7ede2,
      20: #aedcc5,
      30: #86caa8,
      40: #5db98b,
      50: #35a76e,
      60: #2a8658,
      70: #206442,
      80: #15432c,
      90: #0e2b1d,
      95: #07170f,
    ),
    "cool-mint": (
      0: #f5fbfb,
      5: #d4fcfb,
      10: #7efbf7,
      20: #55e7e2,
      30: #2adfd9,
      40: #00c7c0,
      50: #03a5a0,
      60: #008480,
      70: #0d635f,
      80: #0b4b48,
      90: #012b2a,
      95: #011e1d,
    ),
    "mint": (
      0: #f5fcf9,
      5: #c9fbeb,
      10: #83fcd4,
      20: #1bf3af,
      30: #04dc94,
      40: #00c785,
      50: #00a870,
      60: #008659,
      70: #146947,
      80: #0c4e29,
      90: #002c1d,
      95: #001e14,
    ),
    "cool-green": (
      0: #f5fcf6,
      5: #e3f5e1,
      10: #b7f5bd,
      20: #70e17b,
      30: #24db39,
      40: #00bd1f,
      50: #00ad1d,
      60: #008817,
      70: #20671e,
      80: #154c21,
      90: #002d08,
      95: #001c05,
    ),
    "green-warm": (
      0: #f8f9f0,
      5: #f5fccf,
      10: #e7f3a5,
      20: #dced78,
      30: #cae43a,
      40: #afca16,
      50: #869e00,
      60: #6a7d00,
      70: #535e12,
      80: #4b4e10,
      90: #2d3500,
      95: #151900,
    ),
  ),
  "blue": (
    "blue-tuna": (
      0: #f9fbfc,
      5: #f1f5f9,
      10: #e2eaf2,
      20: #c5d5e5,
      30: #a8c0d9,
      40: #8babcc,
      50: #6e96bf,
      60: #587899,
      70: #425a73,
      80: #2c3c4c,
      90: #1d2732,
      95: #161e26,
    ),
    "winter-lakes": (
      0: #f8fbfd,
      5: #eff5fa,
      10: #deeaf6,
      20: #bed5ed,
      30: #9dc0e3,
      40: #7dabda,
      50: #5c96d1,
      60: #4a78a7,
      70: #375a7d,
      80: #253c54,
      90: #1c2d3f,
      95: #121e2a,
    ),
    "warm-blue": (
      0: #f7faff,
      5: #e0edff,
      10: #d1e3ff,
      20: #adcdff,
      30: #83b3fc,
      40: #5092fb,
      50: #3385ff,
      60: #246fe0,
      70: #1354ae,
      80: #0f4085,
      90: #0d2342,
      95: #081529,
    ),
    "cool-blue": (
      0: #f5fbfd,
      5: #e1f3f8,
      10: #c7edfa,
      20: #91d9f3,
      30: #5ec5ed,
      40: #2cb5e8,
      50: #009dd6,
      60: #0d79a0,
      70: #0a607f,
      80: #074f69,
      90: #002f40,
      95: #001f2b,
    ),
    "cyan": (
      0: #f5fbfd,
      5: #e5faff,
      10: #a8f2ff,
      20: #47e3ff,
      30: #0ad6ff,
      40: #00c0eb,
      50: #009fc7,
      60: #0081a1,
      70: #016179,
      80: #0e4d5d,
      90: #002d38,
      95: #002028,
    ),
    "blue": (
      0: #f5faff,
      5: #e0f2ff,
      10: #d1e9ff,
      20: #a1d3ff,
      30: #66baff,
      40: #33a3ff,
      50: #008cff,
      60: #0076d6,
      70: #005aa3,
      80: #0b4778,
      90: #002442,
      95: #001629,
    ),
  ),
);


//Bu bizde ihtiyac olur mu emin degilim.
$sizes: (
  0: 0px,
  1: 1px,
  2: 2px,
  4: 4px,
  6: 6px,
  8: 8px,
  12: 12px,
  14: 14px,
  16: 16px,
  20: 20px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
)

